.column-wide {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

p, a, li {
    max-width: 70ch;
}

.thebibliography {
    padding: 0 0 0 1.5em;
    text-indent: -1.5em;
}

.slide {
    &:after {
        content: '';
        min-height: 2rem;
        background: transparent;
    }
}
